################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebGentle.BookStore7/.vs/WebGentle.BookStore7
/WebGentle.BookStore7/WebGentle.BookStore7/bin/Debug/netcoreapp3.1
/WebGentle.BookStore7/WebGentle.BookStore7/obj
